name: 'Build & Test'

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:

jobs:

###
### Fast Test on System Perl
###

  ubuntu-latest:
    runs-on: ubuntu-latest

    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1
      PERL_CARTON_PATH: $GITHUB_WORKSPACE/local

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: install prebuild deps using cpanm
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: --sudo Data::Pond End File::Path IO::File IPC::Filter Time::OlsonTZ::Download
      - run: curl -o "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz" https://data.iana.org/time-zones/releases/tzdb-2025b.tar.lz
      - run: tar -C "$GITHUB_WORKSPACE" -x --lzip -f "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz"
      - run: rm "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz"
      - run: perl prebuild get_olson local "$GITHUB_WORKSPACE/tzdb-2025b" 2025b
      - run: rm -rf "$GITHUB_WORKSPACE/tzdb-2025b/"
      - run: perl prebuild build_data
      - name: install deps using cpanm
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: --sudo --installdeps .
      - run: perl Build.PL
      - run: ./Build
      - run: ./Build test

###
### linux testing multiple Perl versions
###

  perl-versions:
    runs-on: ubuntu-latest
    name: List Perl versions
    outputs:
      perl-versions: ${{ steps.action.outputs.perl-versions }}
    steps:
      - id: action
        uses: perl-actions/perl-versions@v1
        with:
          since-perl: v5.6.0
          with-devel: true

  linux:
    runs-on: ubuntu-latest
    name: "perl ${{ matrix.perl-version }}"

    needs:
      - ubuntu-latest
      - perl-versions

    strategy:
      fail-fast: false
      matrix:
        perl-version: ${{ fromJson (needs.perl-versions.outputs.perl-versions) }}

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: install prebuild deps using cpanm
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: -v Data::Pond End File::Path IO::File IPC::Filter Time::OlsonTZ::Download
      - run: curl -o "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz" https://data.iana.org/time-zones/releases/tzdb-2025b.tar.lz
      - run: tar -C "$GITHUB_WORKSPACE" -x --lzip -f "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz"
      - run: rm "$GITHUB_WORKSPACE/tzdb-2025b.tar.lz"
      - run: perl prebuild get_olson local "$GITHUB_WORKSPACE/tzdb-2025b" 2025b
      - run: rm -rf "$GITHUB_WORKSPACE/tzdb-2025b/"
      - run: perl prebuild build_data
      - name: install deps using cpanm
        uses: perl-actions/install-with-cpanm@v1
        with:
          sudo: false
          args: -v --installdeps .
      - run: perl Build.PL
      - run: ./Build
      - run: ./Build test
        env:
          AUTHOR_TESTING: 1
          AUTOMATED_TESTING: 1
          RELEASE_TESTING: 1

